/** reset **/
html {
  font-size: 62.5%;
  font-family: 'IBM Plex Sans';
  background: #000; }

::selection {
  background-color: red; }

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem; }

a {
  text-decoration: none; }

/** canvas override**/
canvas {
  display: block;
  position: fixed;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1; }

/** HERO **/
.header {
  display: flex;
  justify-content: center; }
  .header-logo {
    margin: 20px 20px;
    fill: red;
    width: 15%;
    min-width: 200px; }

section {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 800px) {
    section {
      padding: 20px; } }

.search-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.search-header {
  font-size: 2.8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: red; }

.search-box {
  display: flex;
  flex-direction: column; }
  .search-box-input {
    box-sizing: border-box;
    width: 100%; }
    .search-box-input > [type='text'] {
      min-width: 80%;
      width: 100%;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #cc3333;
      color: white;
      padding: 6px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.1);
      box-sizing: border-box; }
      .search-box-input > [type='text']:hover, .search-box-input > [type='text']:focus {
        border-bottom: 2px solid red;
        transition: 0.4s ease-in-out; }
  .search-box-parameters {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    padding: 20px; }
    @media screen and (max-width: 800px) {
      .search-box-parameters {
        padding: 0px;
        margin: 10px 0px 0px 0px; } }
    .search-box-parameters > [type='radio'] {
      display: inline; }
      .search-box-parameters > [type='radio']:not(:checked), .search-box-parameters > [type='radio']:checked {
        display: none; }
    .search-box-parameters > span {
      color: red;
      font-size: 1.4rem; }
    .search-box-parameters > div {
      margin: 20px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 6px; }
      @media screen and (max-width: 800px) {
        .search-box-parameters > div {
          padding: 0px;
          margin: 10px 0px 0px 0px; } }
    @media screen and (max-width: 800px) {
      .search-box-parameters .mdc-radio {
        padding: 10px; } }
    .search-box-parameters .mdc-radio + label {
      cursor: pointer;
      user-select: none;
      font-size: 1.4rem;
      margin-right: 10px;
      color: white; }
      @media screen and (max-width: 800px) {
        .search-box-parameters .mdc-radio + label {
          margin-right: 0px;
          padding-right: 5px; } }
    .search-box-parameters-sort {
      display: flex;
      justify-content: space-around;
      padding: 20px; }
      .search-box-parameters-sort > button {
        cursor: pointer;
        color: white;
        background: transparent;
        border: 1px solid white;
        outline: none;
        height: 50%;
        align-self: center;
        padding: 10px;
        transition: 0.4s all; }
        @media screen and (max-width: 800px) {
          .search-box-parameters-sort > button {
            margin: 10px auto; } }
        .search-box-parameters-sort > button:hover {
          border: 1px solid red;
          color: red;
          box-shadow: 1px 1px 3px red; }

.ship {
  flex-direction: column;
  align-items: center; }
  .ship-card {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 500px;
    padding: 10px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    color: white;
    box-sizing: border-box; }
    @media screen and (max-width: 800px) {
      .ship-card {
        min-width: 280px;
        max-width: 80%; } }
    .ship-card:hover {
      background-color: rgba(255, 0, 0, 0.3); }
    .ship-card-upper {
      display: flex;
      justify-content: space-between; }
      .ship-card-upper-id {
        font-size: 0.8rem; }
      .ship-card-upper-star {
        font-size: 4rem;
        color: red;
        width: 20px;
        height: 0px; }
    .ship-card-body {
      align-self: center;
      font-weight: 800;
      font-size: 3rem;
      padding: 20px; }
    .ship-card-tag > span {
      background: red; }

.modal-wapper {
  color: white;
  max-width: 900px; }
  @media screen and (max-width: 800px) {
    .modal-wapper {
      min-width: 300px;
      max-width: 80%; } }
  .modal-wapper-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 6px;
    display: flex; }
    @media screen and (max-width: 800px) {
      .modal-wapper-container {
        flex-direction: column; } }
    .modal-wapper-container-img-holder {
      display: flex;
      justify-content: center;
      margin: 20px; }
    .modal-wapper-container-info > button {
      cursor: pointer;
      color: red;
      background: black;
      outline: none;
      border-radius: 50%;
      border: 2px solid red;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -10px;
      right: -10px;
      transition: 0.4s all; }
      .modal-wapper-container-info > button:hover {
        border: none;
        color: black;
        background: red;
        box-shadow: 0px 3px 4px rgba(255, 0, 0, 0.1); }
    .modal-wapper-container-info > span {
      display: block;
      margin-bottom: 6px; }
    .modal-wapper-container-info > p {
      display: flex;
      flex-wrap: wrap;
      line-height: 2rem; }
      .modal-wapper-container-info > p > span {
        margin-right: 5px; }
    .modal-wapper-container-info-tag {
      margin: 4px;
      background: #cc3333;
      color: white;
      font-weight: 400;
      font-size: 0.8rem;
      border-radius: 6px;
      padding: 3px; }
    .modal-wapper-container-input > [type='text'] {
      box-sizing: border-box;
      margin: 20px;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #cc3333;
      color: white;
      padding: 6px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.1); }
      @media screen and (max-width: 800px) {
        .modal-wapper-container-input > [type='text'] {
          margin: 10px auto;
          flex: 1;
          margin-right: 10px; } }
      .modal-wapper-container-input > [type='text']::placeholder {
        color: #cc3333; }
      .modal-wapper-container-input > [type='text']:hover, .modal-wapper-container-input > [type='text']:focus {
        border-bottom: 2px solid red;
        transition: 0.4s ease-in-out; }
    .modal-wapper-container-input > button {
      cursor: pointer;
      color: white;
      background: transparent;
      border: 1px solid white;
      outline: none;
      height: 50%;
      align-self: center;
      padding: 10px;
      margin-right: 10px;
      transition: 0.4s all; }
      @media screen and (max-width: 800px) {
        .modal-wapper-container-input > button {
          margin: 10px auto;
          flex: 1;
          margin-right: 10px; } }
      .modal-wapper-container-input > button:hover {
        border: 1px solid red;
        color: red;
        box-shadow: 1px 1px 3px red; }

/* SPRITES */
.executor {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .executor {
      margin: 0 auto; } }

.sentinel-class-landing-craft {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .sentinel-class-landing-craft {
      margin: 0 auto; } }

.death-star {
  background: url("../img/vehicles.png") no-repeat -100px -4717px;
  width: 240px;
  height: 234px; }
  @media screen and (max-width: 800px) {
    .death-star {
      margin: 0 auto; } }

.millennium-falcon {
  background: url(../img/vehicles.png) no-repeat -359px -2819px;
  width: 346px;
  height: 239px; }
  @media screen and (max-width: 800px) {
    .millennium-falcon {
      margin: 0 auto; } }

.y-wing {
  background: url(../img/vehicles.png) no-repeat -495px -1682px;
  width: 264px;
  height: 204px; }
  @media screen and (max-width: 800px) {
    .y-wing {
      margin: 0 auto; } }

.x-wing {
  background: url("../img/vehicles.png") no-repeat -1162px -1446px;
  width: 304px;
  height: 225px; }
  @media screen and (max-width: 800px) {
    .x-wing {
      margin: 0 auto; } }

.tie-advanced-x1 {
  background: url("../img/vehicles.png") no-repeat -296px -747px;
  width: 292px;
  height: 209px; }
  @media screen and (max-width: 800px) {
    .tie-advanced-x1 {
      margin: 0 auto; } }

.slave-1 {
  background: url(../img/vehicles.png) no-repeat -762px -3108px;
  width: 402px;
  height: 274px;
  /* Imagem esta mais para a direita*/ }
  @media screen and (max-width: 800px) {
    .slave-1 {
      margin: 0 auto; } }

.imperial-shuttle {
  background: url("../img/vehicles.png") no-repeat -1200px -1964px;
  width: 197px;
  height: 262px; }
  @media screen and (max-width: 800px) {
    .imperial-shuttle {
      margin: 0 auto; } }

.ef76-nebulon-b-escort-frigate {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .ef76-nebulon-b-escort-frigate {
      margin: 0 auto; } }

.a-wing {
  background: url("../img/vehicles.png") no-repeat -39px -1467px;
  width: 225px;
  height: 156px; }
  @media screen and (max-width: 800px) {
    .a-wing {
      margin: 0 auto; } }

.b-wing {
  background: url(../img/vehicles.png) no-repeat -316px -1450px;
  width: 246px;
  height: 351px; }
  @media screen and (max-width: 800px) {
    .b-wing {
      margin: 0 auto; } }

.republic-cruiser {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .republic-cruiser {
      margin: 0 auto; } }

.naboo-fighter {
  background: url("../img/vehicles.png") no-repeat -14px -1205px;
  width: 250px;
  height: 244px; }
  @media screen and (max-width: 800px) {
    .naboo-fighter {
      margin: 0 auto; } }

.naboo-royal-starship {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .naboo-royal-starship {
      margin: 0 auto; } }

.scimitar {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .scimitar {
      margin: 0 auto; } }

.j-type-diplomatic-barge {
  background: url(../img/vehicles.png) no-repeat -872px -2291px;
  width: 342px;
  height: 223px; }
  @media screen and (max-width: 800px) {
    .j-type-diplomatic-barge {
      margin: 0 auto; } }

.aa-9-coruscant-freighter {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .aa-9-coruscant-freighter {
      margin: 0 auto; } }

.jedi-starfighter {
  background: url(../img/vehicles.png) no-repeat -624px -1224px;
  width: 256px;
  height: 221px;
  /* baixo esquerda*/ }
  @media screen and (max-width: 800px) {
    .jedi-starfighter {
      margin: 0 auto; } }

.h-type-nubian-yacht {
  background: url(../img/vehicles.png) no-repeat -1152px -2291px;
  width: 365px;
  height: 274px; }
  @media screen and (max-width: 800px) {
    .h-type-nubian-yacht {
      margin: 0 auto; } }

.star-destroyer {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px;
  /*imagem esta para esquerta cima*/ }
  @media screen and (max-width: 800px) {
    .star-destroyer {
      margin: 0 auto; } }

.trade-federation-cruiser {
  background: url(../img/vehicles.png) no-repeat -330px -4088px;
  width: 288px;
  height: 222px;
  /*esquerda baixo */ }
  @media screen and (max-width: 800px) {
    .trade-federation-cruiser {
      margin: 0 auto; } }

.theta-class-t-2c-shuttle {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .theta-class-t-2c-shuttle {
      margin: 0 auto; } }

.rebel-transport {
  background: url("../img/vehicles.png") no-repeat -316px -2608px;
  width: 418px;
  height: 201px; }
  @media screen and (max-width: 800px) {
    .rebel-transport {
      margin: 0 auto; } }

.droid-control-ship {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .droid-control-ship {
      margin: 0 auto; } }

.republic-assault-ship {
  background: url(../img/vehicles.png) no-repeat -18px -2291px;
  width: 295px;
  height: 222px; }
  @media screen and (max-width: 800px) {
    .republic-assault-ship {
      margin: 0 auto; } }

.solar-sailer {
  background: url(../img/vehicles.png) no-repeat -31px -1973px;
  width: 263px;
  height: 286px; }
  @media screen and (max-width: 800px) {
    .solar-sailer {
      margin: 0 auto; } }

.republic-attack-cruiser {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .republic-attack-cruiser {
      margin: 0 auto; } }

.naboo-star-skiff {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .naboo-star-skiff {
      margin: 0 auto; } }

.jedi-interceptor {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .jedi-interceptor {
      margin: 0 auto; } }

.arc-170 {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .arc-170 {
      margin: 0 auto; } }

.belbullab-22-starfighter {
  background: url("../img/no-image.png") no-repeat;
  width: 174px;
  height: 205px; }
  @media screen and (max-width: 800px) {
    .belbullab-22-starfighter {
      margin: 0 auto; } }

.v-wing {
  background: url("../img/vehicles.png") no-repeat -861px -1457px;
  width: 242px;
  height: 214px; }
  @media screen and (max-width: 800px) {
    .v-wing {
      margin: 0 auto; } }

.cr90-corvette {
  background: url(../img/vehicles.png) no-repeat -290px -2293px;
  width: 241px;
  height: 240px; }
  @media screen and (max-width: 800px) {
    .cr90-corvette {
      margin: 0 auto; } }

.banking-clan-frigate {
  background: url("../img/vehicles.png") no-repeat -861px -1457px;
  width: 242px;
  height: 214px; }
  @media screen and (max-width: 800px) {
    .banking-clan-frigate {
      margin: 0 auto; } }
